:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #3a3d57;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 2.5rem 0;
}

main {
  background-color: #3a3d57;
  background-image: url(/src/assets/bg-deco-left.svg),url(/src/assets/bg-deco-right.svg);
  background-repeat: no-repeat;
  background-position: 160px bottom,100% 0;
  background-size: 150px,250px;
  background-attachment: fixed;
  padding: 2rem;
}

#root {
  width: 100%;
  padding: 0;
}

.article {
  text-align: left;
}

.article h1 {
  text-align: center;
  text-transform: uppercase
}

.article-image {
  position: relative;
  padding-bottom: 50%;
}

.article-intro {
  font-weight: bold;
}

.article-image:hover .article-image-background {
  background-size: 110% 110%;
}
.article-image:hover img {
  transform: translate(-50%, -50%) scale(1.05);
}

.article-image-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 2;
  background: rgba(0,0,0,.5);
  width: calc(100% - 1rem);
  padding: 0.5rem;
}

.article-image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  filter: blur(5px);
  transition: 300ms background-size ease;
}

.article-image img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 300ms transform ease;
}

.tag {
  background: #ff57a2;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 700;
  margin-right: 0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  padding-left: 10rem;
}
aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: right;
  z-index: 3;
}
@media (max-width: 764px) {
  aside {
    position: fixed;
    height: 3rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  body {
    padding: 0;
  }
  aside .logo {
    position: absolute;
    right: 0;
    height: 60%;
    margin: 0;
  }
}
aside .logo {
  margin: 1rem;
}
aside a {
  color: #3a3d57;
  margin: 1rem;
  transition: 300ms all ease;
  position: relative;
  z-index: 1;
}
aside a:hover {
  color: #03875c;
  transform: scale(1.05);
}
aside a.active {
  color: #03875c;
  margin: 1rem;
  transform: scale(1.05);
}
aside a > svg {
  margin-left: 0.5rem;
}

.table-container {
  display: block;
  overflow: auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  min-width: 100%;
  white-space: nowrap;
}

table tbody tr:nth-child(even) td {
  background: rgba(255,255,255,.1);
}
table td, table th {
  border-bottom: #fff 0.0625rem solid;
  padding: 0.375rem 0.5rem;
}
table th {
  background: #333;
  border-bottom: #fff 0.0625rem solid;
}
table th svg {
  margin-left: 0.5rem;
}
table th span {
  display: flex;
  align-items: center;
}

table .article-row td {
  padding: 0;
}

table .article-content {
  white-space: initial;
  background-color: white;
  color: black;
  display: flex;
}

table .article-content p {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

table .article-content .col {
  padding: 0.5rem;
}

table .article-content a:hover {
  background-color: #41e592;
  color: #3a3d57;
}
table .article-content a {
  display: inline-block;
  margin: 0 0 16px;
  padding: 0.85em 2.5em;
  transition: background-color .25s ease-out;
  font-family: var(--twn-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #14cc76;
  color: #3a3d57;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-decoration: none;
  border-bottom: 0.25rem solid #37945C;
  text-transform: uppercase;
  margin-top: 1rem;
}

table .article-content-image {
  width: 10rem;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}
.pagination span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  user-select: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  color: white;
  margin: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
}
.pagination span:hover {
  border: 1px solid white;
}
.pagination span.active {
  color: black;
  background-color: white;
}
.pagination span:first-child {
  background-color: transparent;
  cursor: initial;
  color: grey;
  margin: 0.5rem 0;
}
.pagination span:first-child.active {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.pagination span:last-child {
  background-color: transparent;
  cursor: initial;
  color: grey;
}
.pagination span:last-child.active {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.pagination span:first-child:hover {
  border: 1px solid transparent;
}
.pagination span:last-child:hover {
  border: 1px solid transparent;
}